# database.yml.example

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  port: 5432

local_default: &local_default
  <<: *default
  user: <%= ENV.fetch("POSTGRES_USER", 'postgres') %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD", '') %>
  host: <%= ENV.fetch("DATABASE_HOST", 'localhost') %>

development:
  <<: *local_default
  database:

test:
  <<: *local_default
  database:

production:
  <<: *default
  database:
  username:
  password:
